.TextOptionsComponent {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  background: purple;
  width: 100%;
  .optionButton {
    background: none;
    padding-right: 15px;

    i {
      color: white;
      font-size: 15px;
      line-height: 1.5em;
    }
  }
}
