.TextAreaComponent {
  display: flex;
  .textArea {
    width: 100%;
    margin-top: 9vh;
    height: 90vh;
    box-sizing: border-box;
    outline: none;
    border: none;
    resize: none;
    color: black;
    padding: 0.2em;
  }
}
